In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#reading data from train.csv file
data=pd.read_csv("hamspam.tsv.txt",sep="\t")

In [4]:
#ASSIGNING COLUMN NAMES
data.columns=["label","msg"]
data.head

<bound method NDFrame.head of      label                                                msg
0     spam  Free entry in 2 a wkly comp to win FA Cup fina...
1      ham  Nah I don't think he goes to usf, he lives aro...
2      ham  Even my brother is not like to speak with me. ...
3      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4      ham  As per your request 'Melle Melle (Oru Minnamin...
5     spam  WINNER!! As a valued network customer you have...
6     spam  Had your mobile 11 months or more? U R entitle...
7      ham  I'm gonna be home soon and i don't want to tal...
8     spam  SIX chances to win CASH! From 100 to 20,000 po...
9     spam  URGENT! You have won a 1 week FREE membership ...
10    spam  XXXMobileMovieClub: To use your credit, click ...
11     ham                         Oh k...i'm watching here:)
12     ham  Eh u remember how 2 spell his name... Yes i di...
13     ham  Fine if thats the way u feel. Thats the way ...
14    spam  England v Macedonia - dont miss the goals/team...
15     ham          Is that seriously how you spell his name?
16     ham    I‘m going to try for 2 months ha ha only joking
17     ham  So ü pay first lar... Then when is da stock co...
18     ham  Aft i finish my lunch then i go str down lor. ...
19     ham  Ffffffffff. Alright no way I can meet up with ...
20     ham  Just forced myself to eat a slice. I'm really ...
21     ham                     Lol your always so convincing.
22     ham  Did you catch the bus ? Are you frying an egg ...
23     ham  I'm back &amp; we're packing the car now, I'll...
24     ham  Ahhh. Work. I vaguely remember that! What does...
25     ham  Wait that's still not all that clear, were you...
26     ham  Yeah he got in at 2 and was v apologetic. n ha...
27     ham                      K tell me anything about you.
28     ham  For fear of fainting with the of all that hous...
29    spam  Thanks for your subscription to Ringtone UK yo...
...    ...                                                ...
5537   ham           Armand says get your ass over to epsilon
5538   ham             U still havent got urself a jacket ah?
5539   ham  I'm taking derek &amp; taylor to walmart, if I...
5540   ham      Hi its in durban are you still on this number
5541   ham         Ic. There are a lotta childporn cars then.
5542  spam  Had your contract mobile 11 Mnths? Latest Moto...
5543   ham                 No, I was trying it all weekend ;V
5544   ham  You know, wot people wear. T shirts, jumpers, ...
5545   ham        Cool, what time you think you can get here?
5546   ham  Wen did you get so spiritual and deep. That's ...
5547   ham  Have a safe trip to Nigeria. Wish you happines...
5548   ham                        Hahaha..use your brain dear
5549   ham  Well keep in mind I've only got enough gas for...
5550   ham  Yeh. Indians was nice. Tho it did kane me off ...
5551   ham  Yes i have. So that's why u texted. Pshew...mi...
5552   ham  No. I meant the calculation is the same. That ...
5553   ham                             Sorry, I'll call later
5554   ham  if you aren't here in the next  &lt;#&gt;  hou...
5555   ham                  Anything lor. Juz both of us lor.
5556   ham  Get me out of this dump heap. My mom decided t...
5557   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5558   ham                                Ard 6 like dat lor.
5559   ham  Why don't you wait 'til at least wednesday to ...
5560   ham                                       Huh y lei...
5561  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5562  spam  This is the 2nd time we have tried 2 contact u...
5563   ham               Will ü b going to esplanade fr home?
5564   ham  Pity, * was in mood for that. So...any other s...
5565   ham  The guy did some bitching but I acted like i'd...
5566   ham                         Rofl. Its true to its name

[5567 rows x 2 columns]>

In [5]:
#c=data.label.value_counts()
#plt.bar(c.index,c.get_values())

In [6]:
#data.info

In [7]:
#plt.hist(ght.label,align="mid")
#plt.xticks(ticks=[0,1],labels=["ham","spam"])

In [8]:
#ASSIGNING 1 FOR HAM AND 0 FOR SPAM
ght=data.copy()
ght.label=ght.label.apply(lambda x:0 if x=="ham" else 1 )

In [9]:
ght.head()

   label                                                msg
0      1  Free entry in 2 a wkly comp to win FA Cup fina...
1      0  Nah I don't think he goes to usf, he lives aro...
2      0  Even my brother is not like to speak with me. ...
3      0                I HAVE A DATE ON SUNDAY WITH WILL!!
4      0  As per your request 'Melle Melle (Oru Minnamin...

In [10]:
data.columns=["label","news"]

In [11]:
data.head()

  label                                               news
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

In [12]:
from sklearn.model_selection import train_test_split
df=data.copy()

In [13]:
#for assigning values to x(feature) and y(target)
y=data["label"].values
x=data["news"].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=21)

In [14]:
len(x_train)==len(y_train)
len(x_test)==len(y_test)

True

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
#countvectorizer is used to convert string data into int data

In [16]:
#stop words are used for filtering out words before procesing
count_vectorizer=CountVectorizer(stop_words="english")

In [17]:
#count_vectorizer.fit(x_train)#here predict is like transform

In [18]:
#for both fitting and transforming
count_converted=count_vectorizer.fit_transform(x_train)

In [19]:
count_converted.toarray()#for converting string data to integer data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
count_converted.toarray().shape

(4453, 7436)

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
model=DecisionTreeClassifier()

In [23]:
model.fit(count_converted,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
x_test

array(['Once free call me sir. I am waiting for you.',
       'K do I need a login or anything', 'Ok', ...,
       'Brainless Baby Doll..:-D;-), vehicle sariyag drive madoke barolla..',
       'Good morning, im suffering from fever and dysentry ..will not be able to come to office today.',
       'it to 80488. Your 500 free text messages are valid until 31 December 2005.'],
      dtype=object)

In [25]:
x_test_converted=count_vectorizer.transform(x_test)

In [28]:
x_test_converted.shape

(1114, 7436)

In [80]:
pred=model.predict(x_test_converted)
y_test==pred
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.973967684021544

In [81]:
a=count_vectorizer.transform(["you won a lottery"])
model.predict(a)

array(['ham'], dtype=object)